@import "bootstrap";

/* mixins */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}

@mixin box_shadow_bot {
  box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.6); 
  -moz-box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.6); 
  -webkit-box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.6); 
  -o-box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.6); 
}

@mixin gradiant_blue {

  
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #30527A),color-stop(1, #102C3C));
  background-image: -o-linear-gradient(bottom, #30527A 0%, #102C3C 100%);
  background-image: -moz-linear-gradient(bottom, #30527A 0%, #102C3C 100%);
  background-image: -webkit-linear-gradient(bottom, #30527A 0%, #102C3C 100%);
  background-image: -ms-linear-gradient(bottom, #30527A 0%, #102C3C 100%);
  background-image: linear-gradient(to bottom, #30527A 0%, #102C3C 100%);



}

@mixin gradiant_transpar {



  background-image: -webkit-gradient(linear,left top,right top,color-stop(0, #30527A),color-stop(1, #102C3C));
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: -ms-linear-gradient(right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image:linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

@mixin frameBorder {

  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 4px;
}

@mixin IconCircle {

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: $white;
  height: 5em;
  width: 5em;
  margin: 0 auto;

  > i {
    padding: 0.8em; 

  }

}
/* colors */

$turq: #5CC0C0;
$turqdark: darken($turq , 15%);

$blueLight: #30527A;
$blueDark:#102C3C;

$greylight: #ccc;
$greylighter: #F3F3F2;

$grey: #999;
$greydark: #555;



$white: #fff;
$black: #222222;


/* universal */

html {
  overflow-y: scroll;
  font-size: 20px;
}

body {
  
  

}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

p {

font-family: 'Open Sans', sans-serif !important;
    
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  //line-height: 1;
  font-family: 'Open Sans', sans-serif;
  
  margin: 0;

}

h1 {
  font-size: 3em;
  //letter-spacing: -2px; 
  text-align: center;
  font-weight: 400;

}

h2 {
  font-size: 2.7em;
  //letter-spacing: -1px;
  text-align: center;
  color: $black;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 1em;

  
}

h3 {
  font-size: 1.7em;
  font-weight: 300;
  margin-bottom: 0.7em;

}

h4 {
  font-size: 1.5em;
  font-weight: 300;
  margin-top: 0.5em;
  margin-bottom: 0.5em;

}

p {
  font-size: 1em;
  line-height: 1.45em;
  font-weight: 300;
}

a{

  text-decoration: none;

  &:hover {

    color: $turq;
    text-decoration: none;
  }

}

/*universal class*/

.center {
  text-align: center;
}

.subHead {

  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 300;
}


/* header */

.navbar {
  border-radius: 0;
  border: none;
  margin-bottom: 0;
}


#logo {
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;

  &:hover {
    color: $turq;
    
  }
}

/* Buttons */

.btn-primary {

  color: $white !important;
  background-color: rgba(48,82,122,0.7);
  border-radius: 4px;
  border: 5px solid $white;
  //opacity: 0.5;

  &:hover {

    background: $blueDark;
    border: 5px solid $white;
  }

}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}


.gravatar {
  float: left;
  margin-right: 10px;
}


/* content */


.first {
  @include box_shadow_bot;
  //height: 300px;

}

.signup {

  position: relative;
  top:300px;
  //left: 235px;
  padding: 15px 65px;
  font-size: 1.5em;
  font-weight: 300;
  z-index: 2;
}

.slidewrapper {
  @include frameBorder;
  //margin: 0 30px;
  top: 50px;
  position: relative;

}

.second {

  background: #898884;
  //height: 300px;
  z-index: -1;
  position: relative;
  padding: 100px 0 4.5em 0;
  color: $white;

}



.third {
  @include box_shadow_bot;
  padding-top:85px;
  

  //height: 300px;

  .row {
    padding: 1em 0 3em;



  }

  .col-md-3 {
    padding-left: 5px;
    padding-right: 5px;
  }


}

.priceBox {
  height: 4em;
  background: $greylighter;
  margin: 10px 0;

  &.row1 {
    font-weight: 600;
    font-size: 1em;
    background: $greylight;
    height: 5em;
    padding-top: 1em;

  }

  &.row2 {
    padding-top: 0.5em;

  }

  &.row3 {

    padding-top: 1em;
  }

  &.row4 {

    padding-top: 1em;
  }

}

.fourth {
  @include box_shadow_bot;
  @include gradiant_blue;
  padding-top: 3em;
  padding-bottom: 2.5em;
  top:-1px;
  //height: 600px;
  z-index: -1;
  position: relative;
  color: $white;

  .row {
    padding-top: 3em;

  }

  h2 {
    color: $white;
  }

  .infoIcon {
    @include IconCircle;
    color: $blueLight;

  }

}



.infoBox {

  padding: 1em 0;



}

.fifth {
  @include box_shadow_bot;
  height: 500px;
  padding-top:85px;
}

.sixth {
  //height: 500px;
  padding: 30px;
  background: $grey;
  color: $white;
  z-index: -1;
  position: relative;
  padding-top:40px;


  h4 {
    text-transform: uppercase;
  }

  .infoIcon {
    color: lighten($grey,5%);
    text-shadow: 1px 0px 2px $greydark;

  }

}



/* footer */

footer {
  color: #fff;
  padding-top: 35px;  
  background: $black;
   a{
    color: $white !important;
    text-decoration: none;
    

      &:hover {
        color: $greylight !important;
        background: $black;
        
      }

    }

    small {
      float: left;

    }

    ul {
      // float: right;
      list-style: none;
      li{
        // float: left;
        margin-left: 10px;
        }

    }

  }



 
/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $turqdark;
    &:last-child {
      border-bottom: 1px solid $turqdark;
    }
  }
}




  /* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.carousel-control {

  opacity: 0.5;

  &:hover {
    background: none !important;
    opacity: 0.9;
    
  }

}
